<tr class="hover:bg-gray-50">
  <td class="border p-2 text-center">
    <% if vehicle.image.attached? %>
      <%= image_tag vehicle.image.variant(:thumb), 
          alt: "#{vehicle.model.name} image", 
          class: "w-24 h-24 object-cover rounded" %>
    <% else %>
      <span class="text-gray-400"><%= t "no_image" %></span>
    <% end %>
  </td>
  <td class="border p-2 text-center"><%= vehicle.model.name %></td>
  <td class="border p-2 text-center"><%= vehicle.model.brand.name %></td>
  <td class="border p-2 text-center"><%= vehicle.number %></td>
  <td class="border p-2 text-center"><%= t "views.vehicle_detail.form.vehicle_types.#{vehicle.model.vehicle_type}" %></td>
  <td class="border p-2 text-center">
    <% if vehicle.available? %>
      <span class="text-success">
        <i class="bi bi-check-circle-fill fs-3"></i>
      </span>
    <% else %>
      <span class="text-danger">
        <i class="bi bi-x-circle-fill fs-3"></i>
      </span>
    <% end %>
  </td>
  <td class="border p-2 text-center">
    <%= link_to t("edit"), edit_vehicle_detail_path(vehicle), class: "btn btn-sm btn-secondary", aria: { label: "#{t('edit')} #{vehicle.model.name}" } %>
    <%= link_to t("delete"), vehicle_detail_path(vehicle), 
        data: {turbo_method: :delete, confirm: "#{t('confirm_delete')} #{vehicle.model.name}?" }, 
        class: "btn btn-sm btn-danger" %>
  </td>
</tr>
