<div class="container mx-auto p-4">
  <% provide :title, t("views.vehicle_detail.index.title") %>
  <h1 class="text-2xl font-bold mb-4"><%= t "views.vehicle_detail.index.title" %></h1>

  <%= link_to t("views.vehicle_detail.new.button"), new_vehicle_detail_path, class: "btn btn-primary mb-4" %>

  <table class="w-full border-collapse">
    <thead>
      <tr class="bg-gray-100">
        <th class="border p-2 text-center"><%= t "views.vehicle_detail.image" %></th>
        <th class="border p-2 text-center"><%= t "views.vehicle_detail.model" %></th>
        <th class="border p-2 text-center"><%= t "views.vehicle_detail.brand" %></th>
        <th class="border p-2 text-center"><%= t "views.vehicle_detail.number" %></th>
        <th class="border p-2 text-center"><%= t "views.vehicle_detail.type" %></th>
        <th class="border p-2 text-center"><%= t "views.vehicle_detail.availability" %></th>
        <th class="border p-2 text-center"></th>
      </tr>
    </thead>
      <tbody>
        <% @vehicle_details.each do |vehicle| %>
          <%= render partial: "vehicle_detail", locals: { vehicle: vehicle } %>
        <% end %>
      </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
